html, body, div#root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Helvetica Neue", sans-serif;
}

h1{
    color: white;
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 0%;
}

h2{
    margin-top: .9em;
    margin-bottom: .7em;
}
h3, li, ul{
    margin-top: .9em;
    margin-bottom: .7em;
}
p{
    margin-top: 0em;
    margin-bottom: .2em;
}
/* Add drop shadow to cards */
.card {
    box-shadow: 4px 9px 10px -4px rgba(0,0,0,0.10), -4px 9px 10px -4px rgba(0,0,0,0.10);
}

/* keep images in check */
.card-deck .card {
    flex-basis: 200px;
    margin-bottom: 30px;
}

.application-status {
    display: inline;
    vertical-align: center;
}

#edit-application:hover {
    cursor: pointer;
    color: darkgray;
}

#add-item-icon:hover {
    cursor: pointer;
    color: darkgray;
}

/* Landing page styling */
#landing-page-container {
    height: 100%;
    background-color: #0037a6;
    text-align: center;
    padding-top: 25vh;
}
h1.landing {
    font-size: 5em;
    color: white;
}
h2.landing {
    font-size: 2em;
    margin: 1em;
    color: white;
}

/* Override jumbotron color */
.jumbotron {
    background-color: #0037a6 !important;
}

@media (min-width: 768px) {
    header {
        background-color: #0037a6;
        background-position: center;
        background-size: cover;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
}
