name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15
    
    - name: Setup Redis Server
      uses: supercharge/redis-github-action@1.1.0
      with:
        redis-version: 6
        
    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
